@import url('https://fonts.googleapis.com/css?family=Jost&display=swap/css?family=Muli&display=swap');
body{
    font-family: Jost;
    color: whitesmoke;
    background: linear-gradient(-45deg, rgba(0, 157, 255, 0.774), rgb(0, 225, 255), rgb(87, 90, 255));
    background-size: 1000% 1000%;
    animation: gradient 10s ease infinite;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.score{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 150%;
    font-weight: bold;
}
.explanation{
    color: grey;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: auto;
}
.autoplaymsg{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    position: absolute;
    bottom: 0;
    margin-bottom: 13vh;
    overflow: auto;
}
.playtime{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 10%;
}
.celebration {
    display: none;
}
.explanation {
    flex-grow: 1;
    position: absolute;
    bottom: 0;
    margin-bottom: 8vh;
}
@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}