@import url('https://fonts.googleapis.com/css?family=Jost&display=swap/css?family=Muli&display=swap');
body{
    font-family: Jost;
    color: whitesmoke;
    background: linear-gradient(-45deg, rgba(0, 157, 255, 0.774), rgb(0, 225, 255), rgb(87, 90, 255));
    background-size: 1000% 1000%;
    animation: gradient 10s ease infinite;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.score{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 150%;
    font-weight: bold;
}
.explanation{
    color: grey;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: auto;
}
.autoplaymsg{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    position: absolute;
    bottom: 0;
    margin-bottom: 13vh;
    overflow: auto;
    color: grey;
}
.playtime{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 2em;
}
.celebration {
    display: none;
}
.explanation {
    flex-grow: 1;
    position: absolute;
    bottom: 0;
    margin-bottom: 8vh;
}
.settings {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: auto;
    flex-grow: 1;
    position: absolute;
    bottom: 0;
    margin-bottom: 7em;
}
 /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #ffffff;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 
  .popup {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .popup-content {
    background-color: #fefefede;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: black;
  }
  
  .no-scroll {
    overflow: hidden;
}
.iconbar{
    top: 0;
    margin-top: 4em;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
}
.iconbar > * {
    margin: 0 10px;
}
@media (max-width: 1270px) {
    .autoplaymsg {
        display: none;
    }
}
@media (max-width: 670px) {
    .explanation {
        display: none;
    }
}

@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}