@import url('https://fonts.googleapis.com/css?family=Jost&display=swap/css?family=Muli&display=swap');
body{
    font-family: Jost;
    color: whitesmoke;
    background: linear-gradient(-45deg, rgba(0, 157, 255, 0.774), rgb(0, 225, 255), rgb(87, 90, 255));
    background-size: 1000% 1000%;
    animation: gradient 10s ease infinite;
    align-items: center;
    text-align: center;
}
.score{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
}
.explanation{
    color: grey;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}
.playtime{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
}
@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}