@import url('https://fonts.googleapis.com/css?family=Jost&display=swap/css?family=Muli&display=swap');
body{
    font-family: Jost;
    background: linear-gradient(-45deg, rgba(0, 0, 0), red, yellow);
    background-size: 1000% 1000%;
    animation: gradient 10s ease infinite;
    align-items: center;
    text-align: center;
    overflow: auto;
}
.countdown{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 150%;
}
.matchname{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 5em;
}
.team,  .vs {
    margin: 1em
}
.fbutton {
    position: relative;
    border: 2px solid rgba(245, 245, 245, 0);
    border-radius: 12px;
    background-color: #fffdfd00;
    color: #FFFFFF;
    font-size: 15px;
    width: 20em;
    height: 2em;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 auto;
}

.fbutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.fbutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.fbutton:hover span {
    padding-right: 25px;
}

.fbutton:hover span:after {
    opacity: 1;
    right: 0;
}

a{
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}

.disclaimer{
    color: rgba(255, 255, 255, 0.589);
}

.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 5px;
    color: whitesmoke;
    padding: 50px 0;
    text-align: center; 
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    border-top: 0.5px solid rgba(255, 255, 255, 0.462);
}

@media (max-height: 723px) {
    .footer {
        display: none;
    }
}

@media (max-width: 930px) {
    .footer {
        display: none;
    }
}

@media (max-width: 710px) {
    .cd_seconds, .divider_seconds {
        display: none;
    }
}

@media (max-width: 465px) {
    .countdown, .matchname{
        font-size: 90%;
    }
}

@media (max-width: 367px) {
    .countdown{
        font-size: 80%;
    }
}

@media (max-width: 400px) {
    .matchname{
        font-size: 70%;
    }
}


@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}